# Ignore specific file extensions and directories
*.pyc
*__pycache__/

# Ignore pytest cache
.pytest_cache/

# Ignore IDE specific files
.vscode/

# Ignore the .env file
.env

# Ignore generated reports
allure-report/
reports/

# Ignore virtual environments
venv/
env/

# Ignore log files
logs/

# Ignore input files
src/config/

# Ignore feature file for automation
features/validation.feature

# Ignore output directory
output/
